@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-allroundgothic-semi);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.default-font {
  font-family: 'Courier New', Courier, monospace !important;
}
